.label {
  margin: 5px;
}
.badge {
  margin: 5px;
  margin-right: 15px;
}
.beer-input, .likes-input {
  margin: 5px;
}
button.add-beer {
  margin: 5px;
}
.shrink-width {
  margin: 20px auto;
  width: 75%;
}
.beer-name {
  padding-top: 4px;
}